<form action="/logout" method="post">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <input type="submit" value="로그아웃">
</form>

<form action="/url_entry" method="post">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <label>
    URL
    <input type="url" required name="long_url">
  </label>
  <input type="submit" value="전송">
</form>

<% errors.forEach(error => { %>
  <p><%= error %></p>
<% }) %>

<table>
  <% rows.forEach(entry => { %>
    <tr>
      <td><a href="/<%= entry.id %>"><%= entry.id %></a></td>
      <td><%= entry.long_url %></td>
      <td><%= entry.created_at.toISOString() %></td>
      <td><%= entry.click_count %></td>
    </tr>
  <% }) %>
</table>
